html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    gap: 4rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.hero {
    display:flex;
}

header h1{
    margin-top: 2vmin;
    font-size: 17vmin;
    text-shadow: -1px 3px 7px rgba(255,255,255,0.6);
}

header h2 {
    font-size: 5vmin;
}

video {
    width: 100%;
    height: 60%;
    z-index: -1;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 15vh;
    width: 100%;
    background-color:rgba(101,103,104,0.379) ;
}

footer p {
    margin-bottom: 1rem;
}

div.iconsRef img, div.socialMediaIcons img {
    width: 4vmin;
    height: 4vmin;
    margin: 1rem;
}

div.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#popularMyt{
    font-size: 6vmin;
    padding: 1vmin;
    background-color: rgba(101, 103, 104, 0.397);
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid lightgray ;
}

nav.navBar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    
}

.navBar a {
    text-decoration: none;
    color: black;
    pointer-events: all;
    font-size: 3vmin;
}

nav .active {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 0.3rem;
}

img.logo {
    width: 20%;
}

div.callToA {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

div.callToA img {
    width: 10rem;
    border-radius: 10px;
    margin-top: 2rem;
}

div.callToA a {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: black;
}

div.callToA a:hover{
    transform: scale(1, 1.05);
    border-radius: 10px;
    box-shadow: 5px 5px 7px 1px rgba(0,0,0,0.75);
}

div.callToA h4 {
    position: absolute;
    align-self: center;
    margin-top: 3.5rem;
}

button {
    padding: 0.5rem 1.5rem;
    align-self: center;
    margin: 1.5rem;
    border-radius: 10px;
    font-size: 3.5vmin;
    transition:all .5s ease-in-out;
}

div.photoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.photos{
    display: flex;
}

div.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23vw;
    height: 57vh;
    background-position: center;
    background-size: cover;
    border-radius: 35%;
    margin: 2.6rem;
}

div.carousel-fade {
    width: 100%;
}

div.cityNames {
   display: flex;
   justify-content: space-evenly;
   
}

div.photo h3 {
    color: white;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
    font-size: 130%;
}

div.plane {
    background-position: 68%;
    background-size: contain;
    background-repeat: repeat-x;
    display:flex;
    justify-content: center;
    width: 100%;
    height: 67vh;
    object-fit: contain; 
}

div.planeTitle {
    width: 100%;
}

.sr-only, .carousel-indicators {
    display: none;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 2;
    align-items: flex-end;
    margin: 0.3rem;
    bottom: 0;
    width: 5%;
    height: 5%;
    position: absolute;
    top: -7vmin;
}

div.carousel-inner {
    z-index: -1;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
}

.carousel-item > div {
    width: 100%;
}

div.notFound {
    width:100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.notFound button {
    border: 3px solid black;
    background-color: rgb(255, 239, 13);
}

div.notFound button:hover {
    border: 3px solid white;
    background-color: black;
    color:rgb(235, 235, 74);;

}

div.citiesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0;
}

div.cityCards {
    background-position: center;
    background-size: cover;
    width: 30vw;
    height: 75vh;
    margin: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
}

div.boardImg {
    height: 35vh;
    width: 98.5vw;
    background-position: center;
    background-size: cover;   
}

div.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    width: 80%;
}

div.inputContainer img {
    width: 2rem;
    margin: 1rem;
}

div.inputContainer button {
    height: 2rem;
    font-size: 2.5vmin;
    padding: .5rem .5rem;
    display: flex;
    align-items: center;
}

div.inputContainer input {
   width: 80%;
   height: 2rem;
   padding-left: 2rem;
   border: 2px solid black;
   border-radius: 5px;
}

div.heroCity {
    height: 50vmin;
    width: 100%;
    background-position: 50% 60%;
    background-size: cover;
}

div.citiesContainer a {
    text-decoration: none;
    color: black;
}

div.cardsTitles {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.342);
    min-height: 10vmin;
}

div.construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main h3 {
    font-size: 7vmin;
}

div.construction button{
    border: 3px solid black;
    background-color: rgb(255, 239, 13);
}

div.construction button:hover {
    border: 3px solid white;
    background-color: black;
    color:rgb(235, 235, 74);;

}

div.loading {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.cityName {
    background-color: black;
    padding: 10px;
    margin: 10px;
}

div.cityName h3{
    color: white;
    border: 3px solid white;
    padding: 5px 40px;

}

div.cityDescription {
    width: 80%; 
    text-align: center;
    margin-top: 3.5rem;
    font-size: 3vmin;
}

div.itinerary {
    border:  2px solid black;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    border-radius: 5px;
}

div.itinerary:hover {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
div.itineraryContent {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

div.itineraryInfo{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
}
div.author {
    display: flex;
    align-items: center;
    gap: 3rem;
}

div.authorPicture {
    background-position: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position-x: center;
    background-position-y: 26%;
    background-repeat: no-repeat;
}

div.cityPicture {
    background-position: center;
    background-size: cover;
    width: 20rem;
    height: 25rem;
    border-radius: 5px;
}

div.itinerary h3{
    font-size: 8vmin;
    background-color: black;
    width: 100%;
    text-align: center;
    border: 5px solid white;
    margin-bottom: 30px;
    color:white;
    border-radius: 5px;
}

div.itineraryInfo p {
    font-size: 2.5vmin;
}

div.iconContainer {
    display: flex;
    justify-content: space-between;
}

div.hashtags {
    display: flex;
    justify-content: space-between;
}

button.viewMore:hover {
    border: 2px solid whitesmoke;
    background-color: rgb(168, 168, 164);
}

form fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width:1500px) {
    div.cityCards {
        width: 30vw;
    }

    img.logo {
        width: 15%;
    }
}

@media screen and (max-width: 1440px) {
    div.plane {
        height: auto;
    } 

    div.photo {
        margin: 1.6rem;
        border-radius: 0%;
    }
}

@media screen and (max-width:1024px) {
     div.plane {
        z-index: -1;
        background-size: 0%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        background-color: rgba(101, 103, 104, 0.397);
        margin: 0;
    }

    div.photo {
        margin: 1rem 0;
        box-shadow: 2px 3px 4px 3px rgba(0,0,0,0.74);
        border-radius: 0%;
        margin: 1.5rem;
        width: 50vmin;
    }

    div.carousel-fade {
        width: 100vw;
    }

    div.photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;   
    }

    div.cardsTitles {
        flex-direction: column;
    }

   header {
       grid-gap: 0;
       gap: 0;
   }

   header h1 {
       font-size: 10vmin;
   }

   .carousel-control-next, .carousel-control-prev {
       top: 0;
   }
}

@media screen and (max-width:769px) {
    div.navBar img {
        width: 25px;
    }
    
    video {
        height:50%;
    }

    div.title {
        padding: 0 3rem;
    }

    header {
        margin: 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    div.itineraryContent {
        flex-direction: column-reverse;
        align-items: center;
    }

    div.cityPicture {
        width: 70vmin;
        margin-bottom: 2rem;
    }

    div.itineraryInfo {
        width: 75%;
        gap: 1rem; 
    }

    div.viewMore {
        margin-top: 1rem;
    }

    div.inputContainer button {
        font-size: 2vmin;
        width: 3rem;
    }

    div.cityCards {
        width: 45vw;
    }
}

@media screen and (min-width:769px) {
    nav.navBar img {
        width: 4vmin;
        height: 4vmin;
    }
} 

@media screen and (max-width:500px) {
    div.cityCards {
        width: 80vw;
    }

    div.navBar {
        align-items: center;
    }

    div.title {
        margin-top: 0.5rem;
    }

    div.inputContainer {
        margin: 0;
        width: 100%;
        padding-left: 1rem;
    }

    div.cityPicture {
        width: 15rem;
    }

    div.authorPicture { 
        border-radius: 10px;
    }
}

@media screen and (max-width:350px){
    div.callToA h3{
        visibility: hidden;
    }
}